body {
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  margin-top: 0px;
  font-family: "Sacramento", cursive;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #e4f9f5;
  padding-top: 100px;
}

.bottom-container {
  background-color: #e4f9f5;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.mountain {
  width: 100%;
  max-width: 100%;
  display: block;
}

.profile-pic,
.skills-pic {
  height: 200px;
  width: 200px;
}
